html {
  height: 100%;
  background-color: #f8f8f8
}
body {
  height: 100%;
  background-color: #f8f8f8
}
div {
  height: 100%;
}
.main {
  max-width: 950px;
  width: 95%;
  margin: 0 auto;
  padding: 2px;
  margin-top: 15px;
  background-color: #FFFFFF
}
